@model IEnumerable<Labbeh.Models.DriversCompaniesCat>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>GetAllCategoryCom</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @*    <script src="~/js/companycat.js"></script>*@

    <script src="jquery-3.6.0.min.js"></script>
    @*    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>*@

</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <table id="CompanyCat" class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Code</th>
                <th scope="col">CompanyType</th>  
                <th scope="col">Action</th>
            </tr>
        </thead>
    </table>
 </div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaniesType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompaniesType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<script>
    $(function()){
            $.get("GetAllCategoryCom",{},function(data){
                var row;
                $.each(data,function(i,v1){
                    row += "<tr><td>" + v1.ID"</td><td>" + v1.Code"</td><td>" + v1.CompanyType"</td></tr>"
                });
                $("#CompanyCat").append(row);
            })
    }
</script>

</body>

</html>

